<div class="logo_title">Instakilo</div>

<div class="login_box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :username, class: "login_fields mx-auto", placeholder: "Username" %>
    </div>

    <div class="field">
      <%= f.email_field :email, class: "login_fields mx-auto", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, class: "login_fields mx-auto", placeholder: "Password", autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, class: "login_fields", placeholder: "Confirm password", autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "login_button"  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
